<p id="notice"><%= notice %></p>

<div>
  <ul class="nav nav-tabs" role="tablist">
    <li role="presentation" class="active"><a href="#discussion" aria-controls="discussion" role="tab" data-toggle="tab">Discussion</a></li>
    <li role="presentation"><a href="#pins" aria-controls="pins" role="tab" data-toggle="tab">Pins</a></li>
    <li role="presentation"><a href="#schedule" aria-controls="schedule" role="tab" data-toggle="tab">Schedule</a></li>
    <li role="presentation"><a href="#information" aria-controls="information" role="tab" data-toggle="tab">Information</a></li>
  </ul>

  <div class="tab-content">

    <div role="tabpanel" class="tab-pane active" id="discussion">
      <div class="container">
        <h3>Discussions</h3>
        <h5>Todo:</h5>
        <ol>
          <li>Create discussions table {id: int, title: string, trip_id: int, timestamps:datetime}</li>
          <li>Figure out polymorphic relationships</li>
          <li>Create comments table {id: int, body: string, commentable_type:string, commentable_id:int, timestamps:datetime}</li>
          <li>Explore the referenceable namespace vs prefix_referenceable namespace</li>
          <li>Create link_references table {id:int, display_name:string, url:string, referenceable:string, referenceable_id:int, timestamps:datetime}</li>
        </ol>
      </div>
    </div>

    <div role="tabpanel" class="tab-pane" id="pins">
      <div class="container">
        <h3>Pins</h3>
        <h5>Todo:</h5>
        <ol>
          <li>Create pins table {id:int, title:string, image_url:string}</li>
          <li>Create tags table</li>
          <li>Create location_tags table</li>
          <li>Create trip_tags table</li>
          <li>Create site_tags table</li>
          <li>has_many comments</li>
          <li>has_many link_references</li>
          <li>Sort by location, activity, tag</li>
        </ol>
      </div>
    </div>

    <div role="tabpanel" class="tab-pane" id="schedule">
      <div class="container">
        <h3>Schedule</h3>
        <h5>Todo:</h5>
        <ol>
          <li>Create blocks table {id:int, start_date:datetime, end_date:datetime}</li>
          <li>has_many activity pins</li>
          <li>has_many comments</li>
        </ol>
      </div>
    </div>


    <div role="tabpanel" class="tab-pane" id="information">
      <div class="container">
        <%= link_to 'Edit', edit_trip_path(@trip) %>
        <p>
          <strong>Name:</strong>
          <%= @trip.name %>
        </p>

        <p>
          <strong>Dates:</strong>
          <%= @trip.start_date.strftime('%B %-d, %Y') %> - <%= @trip.end_date.strftime('%B %-d, %Y') %>
        </p>

        <table class="table"> 
          <tr>
            <th>View</th>
            <th>First Name</th>
            <th>Last Name</th>
          </tr>
          <% @trip.trip_members.each do |trip_member| %>
            <tr>
              <td><a href="<%= user_path(trip_member.user) %>"><span class="glyphicon glyphicon-user"></span></a></td>
              <td><%= trip_member.user.first_name %></td>
              <td><%= trip_member.user.last_name %></td>
            </tr>
          <% end %>
          <tr>
            <td colspan="3"><%= link_to 'Add New Trip Member', new_trip_trip_member_path(@trip) %>
          </tr>
        </table>
      </div>
    </div>
  </div>
</div>
