<p id="notice"><%= notice %></p>

<h1>My mothefucking profile</h1>

<%= link_to 'Edit', edit_user_path(@user) %>

<p>
  <strong>First name:</strong>
  <%= @user.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @user.last_name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<h2>My Trips</h2>
<table class="table">
  <tr>
    <th>Name</th>
    <th>Start Date</th>
    <th>End Date</th>
    <th>Members</th>
  </tr>
  <% @user.trips.each do |trip| %>
    <tr>
      <td><%= link_to trip.name, trip %></td>
      <td><%= trip.start_date %></td>
      <td><%= trip.end_date %></td>
      <td title="<%= trip.trip_members.map {|m| m.user.first_name + ' ' + m.user.last_name}.join(', ') %>"><%= trip.trip_members.count %></td>
    </tr>
  <% end %>
  <tr>
    <td colspan="4"><%= link_to 'Create New Trip', new_trip_path %>
  </tr>
</ul>
